.select {
    &__title {
        margin: 0;
        @include font('semiboldText', 30px);
    }

    &__pictures {
        justify-self: center;
        align-self: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0;
    max-width: 500px;

    &__lable {
        margin: 0 auto 30px;
    }

    &__input {
        cursor: pointer;
        max-width: 100%;
    }

    &__steps {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__steps:last-of-type {
        padding-bottom: 150px;
    }
}
