.home {
    margin: 0 auto;
    min-height: 485px;

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;
        margin: 0 0 24px 0;
        @include font('semiboldText', 1.2em);
    }

    &__illustration {
        justify-self: end;
        background-image: url(../image/ColorLogo.png);
        background-size: cover;
        @include boxSize(499px, 484px);
        box-sizing: border-box;
        background-repeat: no-repeat;
    }

    .paragraph:last-of-type {
        margin-bottom: 100px;
    }
}

.paragraph {
    &_home {
        @include font('normalText', 1em);
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: $second_text_color_white;
    background-color: $main_background_color;
    padding: 100px 100px 120px; 

    &__title {
        padding-bottom: 40px;
        @include font('semiboldText', 1.2em);
    }

    &__info {
        max-width: 870px;
        line-height: 1.4;
    }

    //переделать название на boldText и поместить в main
    &__span {
        font-family: 'boldText';
    }
}

.motivation {
    &__wrap {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        min-height: 380px;
    }

    &__text {
        line-height: 1.4;
        max-width: 630px;
    }

    .paragraph:last-of-type {
        margin-bottom: 100px;
    }
}
