@font-face {
    font-family: 'MainFont';
    src: url(montserrat-regular.woff) format("woff"),
         url(montserrat-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TitleAndSpan';
    src: url(./montserrat-semibold.woff) format("woff"),
         url(./montserrat-semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'LogoAndButton';
    src: url(./montserrat-bold.woff) format("woff"),
         url(./montserrat-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MExtraBold';
    src: url(./montserrat-extrabold.woff) format("woff"),
         url(./montserrat-semibold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}