$main_background_color: #1AA179;
$button_color: #7749F8;
$main_text_color: #3E3E3E;

@mixin font($name, $size) {
    font-size: $size;
    font-family: $name;
}

@mixin boxSize($width, $height) {
    height: $height;
    width: $width;
    // background-color: $background-color; $background-color: transparent
}

@mixin headerFooter($margin, $background-color, $max-width) {
    margin: $margin;
    background-color: $background-color;
    max-width: $max-width;
}