.link {
    text-decoration: none;

    &__logo {
        color: $second_text_color_white;
        letter-spacing: 3px;
        @include font('semiboldText', 24px);
    }

    &__img_social {
        @include boxSize(50px, 50px);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button_color;
        border: none;
        letter-spacing: 2px;
        border-radius: 8px;
        @include boxSize(450px, 90px);
        @include font('semiboldText', 36px);
        color: $second_text_color_white;
    }
}