.link {
    text-decoration: none;

    &__logo {
        color: #fff;
        letter-spacing: 3px;
        @include font('semiboldText', 24px);
    }

    &__img_social {
        @include size(50px, 50px);
    }

    &__button {
        color: #fff;
    }
}