@import url(../fonts/montserrat.css);

@import "./constans";

@import "./header";
@import "./content";
@import "./logo";
@import "./navigation";
@import "./social-network";
@import "./footer";
@import "./buttons";
@import "./pages/main";
@import "./pages/amazes_select";
@import "./link";


.body {
    margin: 0;
    padding: 0;
}

.page {
    min-width: 320px;
    max-width: 1980px;
    margin: 0 auto;
}
