@import url(../fonts/montserrat.css);

@import "./constans";

@import "./button";
@import "./header";
@import "./footer";
@import "./pages/amazes_main";
@import "./pages/amazes_select";
@import "./link";


.body {
    margin: 0;
    padding: 0;
}

.page {
    //base font-size
    font-size: 24px;
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    @include font('normalText', 1em);
    color: $main_text_color;
    min-height: calc(100vh - 150px);
}

.grid {
    display: grid;
    padding: 100px 100px 130px;
    gap: 50px;
    grid-template-columns: minmax(auto, 650px) auto;
}

.paragraph {
    margin: 0 0 24px 0;

    &_small {
        @include font('normalText', 0.7em);
        padding-top: 10px;
        cursor: pointer;
    }

    &_small:hover {
        color: $button_color;
    }
}