@import url(../fonts/montserrat.css);

@import "./constans";

@import "./header";
@import "./content";
@import "./navigation";
@import "./footer";
@import "./buttons";
@import "./pages/main";
@import "./pages/amazes_select";
@import "./link";


.body {
    margin: 0;
    padding: 0;
}

.page {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.content {
    max-width: 100%;
    @include font('normalText', 24px);
}
